<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('public', path='/style.css') }}">
    <script type="module" src="{{ url_for('public', path='/logout.js') }}" ></script>
</head>

<body>
    <header>
        <h1>Admin Dashboard</h1>
        <button id="logout-btn">Logout</button>
    </header>

    <main>
        <section>
            <h2>Manage Users</h2>
            <ul id="userList">
                {% for user in users %}
                    {% if user.get('email') != "admin@gmail.com" %}
                        <li>
                            <form action="">
                                <span>{{ user.get('email') }}</span>
                                <button>Remove</button>
                            </form>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Manage Testimonials</h2>
            <div>
                <form action="/add-testimonial" method="post" >
                    <h3>Add Testimonials</h3>
                    <input type="text" name="name" id="" required>
                    <textarea name="testimonial" id="" required ></textarea>
                    <button>Submit</button>
                </form>
            </div>
            <ul id="testimonialList">
                {% for testimonial in testimonials %}
                    <li>
                        <form action="/remove-testimonial/{{ testimonial.id }}" method="get" >
                            <strong>{{ testimonial.get('name') }}</strong>
                            <p>{{ testimonial.get('testimonial') }}</p>
                            <button type="submit" >Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h2>Manage Membership Plans</h2>
            <form id="addPlanForm" action="/subscription/add" method="post">
                <p>Add new plan</p>
                <input type="text" id="planName" name="name" placeholder="Plan Name" required>
                <input type="number" id="planPrice" name="price"  placeholder="Plan Price" required>
                <input type="text" name="validity" required placeholder="Validity">
                <button type="submit">Add Plan</button>
            </form>
            <ul id="membershipList">
                {% for subscription in subscriptions %}
                    <li>
                        <form action="/subscription/remove/{{ subscription.id }}" method="get">
                            <p>Name : {{ subscription.get("name")}} </p>
                            <p>Price : {{ subscription.get("price")}} </p>
                            <p>Validity : {{ subscription.get("validity")}} </p>
                            <button>Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
</body>

</html>
